<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User Login Form</title>
    <link rel="stylesheet" href="../static/Css/Login.css">
</head>
<body>

<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Please Sign In</h2>
      {% if msg %}
            <div class="alert alert-warning">{{ msg }}</div>
    {% endif %}
  <form action="/login" method="post">
      <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" required name="email" class="form-control" id="email"  placeholder="Enter email" autocomplete="off">
        </div>
      <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" required name="password" class="form-control" id="password"  placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p class="bottom">Don't have an account? <a href="/register"> Register here</a>
        </p>
  </form>
  </div>

</div>
</body>
</html>
