<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User Registration Form</title>
    <link rel="stylesheet" href="../static/Css/Registration.css">
</head>
<body>

<div class="container">

  <form action="/register" method="post">

    <h1>Register</h1>

        {% if msg%}
            <div class="alert alert-warning">{{ msg }}</div>
    {% endif %}

    <p>Please fill in this form to create an account.</p>
    <hr>


   <label for="Fname"><b>First Name</b></label>
   <input type="text" name="Fname" required class="form-control" id="Fname" placeholder="Enter your first name" autocomplete="off">

  <label for="Lname"><b>Last Name</b></label>
   <input type="text" name="Lname" required class="form-control" id="Lname" placeholder="Enter your last name" autocomplete="off">

  <label for="email"><b>Email</b></label>
      <input type="text" name="email" required class="form-control" id="email" placeholder="Enter your email" autocomplete="off">

  <label for="password"><b>Password</b></label>
     <input type="password" name="password" required class="form-control" id="password" placeholder="Enter password">

  <label for="address"><b>Address</b></label>
  <input type="text" name="address" required class="form-control" id="address" placeholder="Enter your address" autocomplete="off">

    <label for="job"><b>Job</b></label>
   <input type="text" name="job" required class="form-control" id="job" placeholder="Enter your job" autocomplete="off">

<label for="phone"><b>Contact No.</b></label>
  <input type="text" name="phone" required class="form-control" id="phone" placeholder="Enter your phone number" autocomplete="off">

  <label for="facebook"><b>Facebook Account</b></label>
  <input type="text" name="facebook"  class="form-control" id="facebook" placeholder="Enter your facebook account" autocomplete="off">

  <label for="instagram"><b>Instagram Account</b></label>
   <input type="text" name="instagram"  class="form-control" id="instagram" placeholder="Enter your instagram account" autocomplete="off">

  <label for="github"><b> Github Account</b></label>
   <input type="text" name="github"  class="form-control" id="github" placeholder="Enter your github account" autocomplete="off">

  <label for="linkedin"><b> LinkedIn Account</b></label>
    <input type="text" name="linkedin"  class="form-control" id="linkedin" placeholder="Enter your linkedin account" autocomplete="off">


 <hr>


    <button type="submit" class="registerbtn">Register</button>



  <div class="container signin">
    <p>Already have an account? <a href="/login">Log in</a>.</p>
  </div>
  </form>
</div>

</body>
</html>